@{
    ViewData["Title"] = "Panel Pracownika";
}

<div class="container text-center" style="margin-top: 50px;">
    <div class="card shadow" style="padding: 40px; border-radius: 15px;">
        <h1 class="display-4" style="color: #1B263B;">Jesteś pracownikiem</h1>
        <hr />
        <p class="lead">Witaj w systemie zarządzania przychodnią.</p>
        <div class="mt-4">
            <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary">Wróć do strony głównej</a>
        </div>
    </div>
</div>